*{
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
}

body {
    background-color: #3f4d67;
}

body #form p {
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
}

body #form .form-group .input-group {
    border-radius: 5px;
    -webkit-box-shadow: -1px 3px 18px 0px rgba(117, 111, 111, 0.35);
    -moz-box-shadow: -1px 3px 18px 0px rgba(117, 111, 111, 0.35);
    box-shadow: -1px 3px 18px 0px rgba(117, 111, 111, 0.35);
}

body #form .form-group .input-group input {
    padding-left: 10px;
}

.tt{
    color: white;
    text-align: center;
    margin-top: 3%;
}

label{
    color : black;
}
/* Pour téléphone */
@media screen and (max-width : 1000px){
    body #form {
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        border-radius: 5px;
        width: 75%;
        padding: 40px;
        margin: 80px auto;
        -webkit-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
    }
    body #form .form-group label {
        font-weight: bold;
        font-size: 2.3em;
    }

    body #form .form-group input {
        padding: 3px;
        width: 100%;
        height: 70px;
        border: none;
        border-radius: 8px 8px 8px 8px;
        font-size: 1.9em;
    }

    body #form .form-group select {
        padding: 3px;
        width: 100%;
        height: 70px;
        border: none;
        border-radius: 8px 8px 8px 8px;
        font-size: 1.9em;
    }
    body #form p {
        font-size: 2.3em;
        text-align: center;
        font-weight: bold;
    }
    body #form button {
        width: 78%;
        height: 65px;
        margin-left: 63px;
        font-size: 1.9em;
        text-align: center;
        color: white;
        background-color: rgb(102 84 147);
        margin-top: 20px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 8px 8px 8px 8px;
    }
    body #form .form-group {
        margin: 24px auto;
    }
    .tt{
        font-size: 3.3em;
        color: white;
        text-align: center;
        margin-top: 3%;
    }
    
}

/* Pour pc */
@media screen and (min-width : 1001px){
    body #form {
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        border-radius: 5px;
        width: 500px;
        padding: 40px;
        margin: 80px auto;
        -webkit-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.75);
    }

    body #form .form-group input {
        padding: 3px;
        width: 100%;
        height: 30px;
        border: none;
        border-radius: 5px 5px 5px 5px;
    }
    body #form .form-group label {
        font-weight: bold;
        font-size: 1em;
    }

    body #form .form-group select {
        padding: 3px;
        width: 100%;
        height: 30px;
        border: none;
        border-radius: 5px 5px 5px 5px;
    }
    body #form .form-group {
        margin: 15px auto;
    }
    body #form button {
        width: 80%;
        height: 35px;
        margin-left: 50px;
        text-align: center;
        color: white;
        background-color: rgb(102 84 147);
        margin-top: 20px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 5px 5px 5px 5px;
    }
    
}
